.sidebar-link {
    width: 100%;
    display: block;
    padding: 10px 15px;
    text-align: left;
    transition: background-color 0.3s ease;
  }
  
  .sidebar-link:hover, .sidebar-link.active {
    background-color: #754D25;
    border-radius: 5px;
  }  
  
  .line{
    color: white;
    border: 0;
    border-top: 2px solid white;
    width: 70%;
    margin: auto;
  }