.space {
  margin: 10px;
}

/* Centering the content-box */
.content-box {
  width: 100%; /* Adjust the width as desired */
  height: auto;
  margin: 0 auto; /* Center the box */
  padding: 150px;
  background-color: #f8f9fa; /* Light background */
  border: 1px solid #ddd; /* Light border */
  border-radius: 8px; /* Rounded corners */
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.background-card {
  background-color: #dbdddf;
}

.icon-style {
  cursor: pointer;
  margin-right: 8px;
}

.actions-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions-cell {
  display: flex;
  justify-content: start;
  align-items: start;
}

.custom-btn  {
  background-color: #8B5F34;
  border-color: #8B5F34;
  font-weight: 600;
  
}

.custom-btn:hover {
  background-color: #6f4f2f; /* Optional: Darker shade for hover effect */
  border-color: #6f4f2f;
}
