/* Line Under Titles */
.short-border {
  border-bottom: 2px solid #a4a4a4; /* เส้นขอบสีเทา */
  width: 100%; /* ให้เส้นเต็มความกว้าง */
  margin-bottom: 10px; /* เพิ่มระยะห่าง */
}
.vertical-line {
  display: inline-block; /* หรือใช้ block/flex */
  width: 2px; /* ความกว้างของเส้น */
  height: 30px; /* กำหนดความสูงให้ชัดเจน */
  margin: 0 10px; /* ระยะห่าง */
}
