.container-flex {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.thumbnails-container {
    width: 200px;
    overflow-y: auto;
    background-color: #cdcccc;
    position: sticky;
    top: 53px;
    left: 0;
}

.pdf-viewer-container {
    flex: 1;
    position: relative;
}

.pdf-highlighter-container {
    position: absolute; /* Ensure this is absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.comments-section {
    width: 300px;
    margin-left: 20px;
    height: calc(100vh - 100px);
    overflow-y: auto;
}