* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main-content {
  height: calc(100vh - 100px); /* ปรับขนาดให้เหมาะสม */
  overflow-y: auto; /* เปิดการ scroll แนวตั้ง */
  padding: 16px;
  scrollbar-width: thin; /* ปรับขนาด scrollbar (สำหรับ Firefox) */
  scrollbar-color: #888 #f1f1f1; /* สีของ scrollbar */
}

.main-content-feedback {
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  width: 100vw;
}

.main-content-feedback .container-fluid {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}